header {
    padding: 1em;
}

.menu-wrap {
    background-color: lightblue;
}

.menu-items {
    font-family: helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

.item-menu {
    padding: 1rem;
}

.noticia {
    background-color: skyblue;
    height: 40vh;
}

.chamada {
    background-color: tomato;
    height: 10vh;
}