header {
    padding: 1em;
}

.menu-wrap {
    background-color: lightblue;
}

.menu-items {
    font-family: helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

.item-menu {
    padding: 1rem;
}

.noticia {
    background-color: skyblue;
    margin: .7em;
    height: 50vh;
}

.chamada-louca {
    height: 10vh;
    background-color: tomato;
    padding: 1.5em;
}